@charset "UTF-8";

body {
	font-family: 'Arimo', sans-serif;
}

.center{
	text-align: center;
}

#animation {
	background-color: #3cbdb1;
	position: absolute;
	width: 100px;
	height: 50px;
}

#assign-heading {
	background-color: #a1aef1;
	color: lavender;
	text-shadow: 2px 2px #8f9cdc;
}

#nav-bar-index ul{
	list-style: none;
	padding: 0;
	text-align: center;
	margin: 100px 0;
}

#nav-bar-index li {
	margin: 20px 0;
}

#nav-bar-index li a {
	color: #6b79c1;
	text-decoration: none;
	font-size: 1.5em;
}

#nav-bar-index li a:hover {
	text-shadow: 1px 1px #aab4ea;
}

#style-heading {
	text-align: center;
	background-color: lightcoral;
	color: white;
	text-shadow: 2px 2px #d8a1a1;
}

.heading-section {
	margin: -15px -10px 0px;
	padding: 50px;
	text-align: center;
	font-size: 2.5em;
}

#special {
	text-align: center;
	color: #c17b7b;
}
.highlight {
	background-color: #fff3f3;
	color: grey;
}

#paragraph-highlight p {
	width: 450px;
	text-align: justify;
}

#paragraph-change {
	width: 200px;
	background-color: #f3caca;
	margin: 0 auto;
	text-align: center;
	padding: 10px;
	border-radius: 5px;
	color: #bb3131;
}

#style-button { 
	text-align: center;
	margin: 50px 0;
}
#style-button button {
	padding: 10px;
	border-radius: 5px;
	font-weight: bold;
	color: white;
	background-color: #e22020;
}

#style-button button:active {
	opacity: .8;
}

#style-button button:hover,#hide, #show, #fade,#animate  {
	cursor: pointer;
}

#image-head {
	background-color: #75a1efcf;
	color: white;
	text-shadow: 2px 2px #b2c8ef;
}

#picture {
	display: block;
	margin: 50px auto;
	border: 5px solid #cfe0fd;
	width: 400px;
}

#hide, #show, #fade, #animate {
	margin: 0 10px;
	padding: 8px;
	border-radius: 5px;
	background-color: #c4c6ca;
	color: white;
	font-weight: bold;
}

#animation-head {
	background-color: #76e69e;
	color: white;
	text-shadow: 2px 2px #48d87a;
	margin-bottom: 50px;
}

#animate {
	background-color: #afdab4;
}

#login-head {
	background-color: #8cd8e2;
	color: white;
	text-shadow: 2px 2px #78a3a9;
}

#form {
	text-align: center;
	margin: 50px 0;
}

#form input {
	margin: 10px 0;
}

#demo {
	width:350px;
	margin: 0 auto;
	text-align: center;
	background-color: #d3faff;
	padding: 10px;
	color: #8badb1;
}